* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Inter", sans-serif;
}

:root {
  --gray-100: #c1c1c1;
  --blue: #62aeff;
  --celeste: #b4e9f3;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
