* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Inter", sans-serif;
}

:root {
  --gray: #e9e6e6;
  --blue: #62aeff;
  --celeste: #b4e9f3;
  --rose: #e75a7c;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
